<div class="d-flex justify-content-center mt-5 pt-5"><h3>ABOUT</h3></div>
<div class="heading d-flex justify-content-center mt-5 pt-5 container">
  <div>
    <h2>HELLO...</h2>
    <p>
      I am <span>RANJITH</span>, Ambitious Final-Year B.Tech Student
      specializing in Web Technologies including Angular, Bootstrap, JavaScript,
      and TypeScript. Seeking an Engaging Role to Drive Career Advancement and
      Embrace Greater Responsibilities within a Growth-Oriented Company.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center mt-5 pt-5">
  <h3>CONTACT ME</h3>
</div>
<form
  class="d-flex flex-column align-items-center justify-content-evently space-y-1 w-[350px] md:w-[500px]"
>
  <input
    placeholder="Name"
    class="contactInput"
    type="text"
    name="name"
    id="name"
  />
  <input
    placeholder="Subject"
    class="contactInput"
    type="text"
    name="subject"
    id="subject"
  /><textarea
    name="message"
    placeholder="Message"
    class="contactInput"
    id="message"
  ></textarea>
</form>
<span class="d-flex justify-content-center">
  <button type="submit" onclick="sendEmail()" class="submit">Submit</button>
</span>