<div class="d-flex justify-content-center mt-5 pt-5"><h3>ABOUT</h3></div>
<div class="heading d-flex justify-content-center mt-5 pt-5 container">
  <img src="../assets/quote.png" class="topquote"/>
  <div>
    <h2>HELLO...</h2>
    <p>I am
      <span>RANJITH</span>,an ambitious and talented frontend developer with a strong foundation in web technologies. As a final year B.Tech student, 
       my passion for frontend development has driven me to excel in areas like JavaScript, Angular, HTML, CSS, TypeScript, and Bootstrap.I'm actively sought opportunities to 
       work on challenging projects and personal ventures, each one adding to my repertoire of skills. My ability to grasp complex concepts quickly 
       and apply them to real-world scenarios sets myself apart as a fast learner. One of standout attributes is my expertise in frontend development. 
       Proficiency in Angular and other modern frameworks allows me to create dynamic and interactive user interfaces with ease. I am leverages my knowledge
        of HTML and CSS to craft visually appealing and user-friendly designs, paying close attention to every detail.
         collaborates effectively with my peers, valuing feedback and actively participating in discussions to bring the best out of each collaboration.
       As I am approaches the completion of B.Tech program, my commitment to frontend development continues to grow. With my skills and determination, 
       If you're looking for a passionate and skilled frontend developer, 
       I would be an excellent addition to your team, contributing to the success of any project I involved in."
    </p>
  </div>
  <img src="../assets/quote.png" class="bottomquote"/>
</div>
<div class="d-flex justify-content-center mt-5 py-5 position-relative">
  <h3>CONTACT ME</h3>
</div>
<form
  class="d-flex flex-column align-items-center justify-content-evently space-y-1 w-[350px] md:w-[500px]"
>
  <input
    placeholder="Name"
    class="contactInput"
    type="text"
    name="name"
    id="name"
  />
  <input
    placeholder="Subject"
    class="contactInput"
    type="text"
    name="subject"
    id="subject"
  /><textarea
    name="message"
    placeholder="Message"
    class="contactInput"
    id="message"
  ></textarea>
</form>
<span class="d-flex justify-content-center">
  <button type="submit" onclick="sendEmail()" class="submit">Submit</button>
</span>