h3 {
    letter-spacing: 1rem;
    color: rgb(189, 189, 189);
    font-family: 'Merriweather', serif;
  }
  p {
    color: rgb(193, 193, 193);
    text-align: justify;
  }
  .heading {
    color: white;
    letter-spacing: 2px;
    position:relative;
  }
  .topquote{
    position: absolute;
    top:-3rem;
    left:-3rem;
    z-index: -1;
    width:20rem;
    opacity: 0.7;
  }
  .bottomquote{
    position: absolute;
    bottom:-5rem;
    right:-4rem;
    z-index: -1;
    width:20rem;
    opacity: 0.7;
    rotate: 180deg;
  }
  span {
    color: rgb(255, 255, 255);
    font-size: xx-large;
  }
  
  .btn {
    background-color: rgb(228, 149, 0);
    color: white;
    font-size: large;
    width: 10rem;
    height: 2.5rem;
  }
  .btn:hover {
    background-color: rgb(174, 113, 0);
  }
  
  .contactInput {
    display: block;
    margin-top: 7px;
    width: 40%;
    height: auto;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    border-radius: 5px;
    --tw-border-opacity: 1;
    border-color: rgb(36 36 36 / var(--tw-border-opacity));
    background-color: rgba(148, 163, 184, 0.1);
    padding: 0.75rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  .contactInput:focus,
  .contactInput:hover {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
  .submit {
    width: 30%;
    height: 3rem;
    border-radius: 15px;
    background-color: rgb(216, 132, 22);
    margin-bottom: 5rem;
    margin-top: 1rem;
    font-size: medium;
  }
  @media only screen and (max-width: 700px) {
    .topquote{
      width:15rem;
    }
    .bottomquote{
      width:15rem;
      right:0%;
    }
  }
  @media only screen and (max-width: 400px) {
    h3 {
      padding-left: 5%;
    }
    .contactInput {
      width: 95%;
    }
    .submit {
      width: 60%;
    }
  }
  