<div class="mySkills">
    <h4 class="pt-5">MY SKILLS</h4>
  </div>
  <div class="d-flex justify-content-center mt-5 pt-5 container-fluid">
    <div class="center">
      <button
        type="button"
        class="btn col-sm-4 col-md-4 col-lg-3 mb-5 pb-5 "
        *ngFor="let images of image"
        style="border: none"
        placement="top" 
        ngbTooltip="{{ images.tooltip }}"
      >
        <img style="width: 70px" src="{{ images.imageurl }}" class="image" />
    </button>
    </div>
  </div>
 
