@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
.mySkills {
  justify-content: center;
  display: flex;
}
h4 {
  color: rgb(189, 189, 189);
  font-family: 'Merriweather', serif;
  letter-spacing: 0.8rem;
}
@media only screen and (max-width: 575px) {
  .center {
    display: grid;
    grid-template-columns: 10rem 10rem;
    justify-content: space-between;
    margin-left: 0.5rem;
  }
}